.header.clearfix
  nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
    .container
      a.navbar-brand(href="/") TravelBible
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarsExampleDefault", aria-controls="navbarsExampleDefault", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon

      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
        
                    
          li.nav-item
            a.nav-link(href="/posts") 여행상품
          if (!currentUser) 
            li.nav-item
              a.nav-link(href='/signin') 로그인

               
          else
            li.nav-item
              a.nav-link(href=`/users/${currentUser._id}`) 마이페이지
            
        
            if (currentUser)
              if currentUser.type ==1
                li.nav-item
                  a.nav-link(href=`/users/${currentUser._id}`) 내 예약내역
              else if (currentUser.type ==2)
                li.nav-item
                  a.nav-link(href=`/users/${currentUser._id}`) 투어가이드
                
              else if (currentUser.type == 3)
                li.nav-item
                  a.nav-link(href="/users") 회원정보 목록
          
            li.nav-item
              a.nav-link(href='/signout') 로그아웃

          