.main-title {
    .small {
      float: right;
      font-size: 1rem;
      color: #bbb;
    }
  }
.main-item-show{
    width: 60%;
    height: 100%;
}
.price-item-show{
    width: 30%;
    height: 100%;
}
.logo-image{
    width:50%;
}