.content= post.content
.tags.badges
  each tag in post.tags
    span.badge.badge-phill.badge-secondary= tag
    | 
.row
  .col-sm
    .numbers.
      #[span.number.num-votes= post.numLikes] 좋아요,
      #[span.number.num-answers= post.numAnswers] 댓글,
      #[span.number.num-views= post.numReads] 조회수
  .col-sm
    .author
      | 작성 : #{moment(post.createdAt).format('YYYY-MM-DD')}
      if post.author
        | 
        | / 글쓴이 : #[a(href=`/users/${post.author.id}`)= post.author.name] 
