extends ../layout

include ../includes/_paginate

block content
  .container
    form.form-inline.search-input-group(action='/posts', method='GET')
      i.fa.fa-search
      input.form-control.mr-sm-2(type='text', name='term', placeholder='어디로 떠나세요?', aria-label='Search', value=term)

    h1.main-title 
      | 상품 목록
      //- if posts.total > 0
      //-   .small Total #{posts.total} 게시글

    if posts.total <= 0 
      .alert.alert-info 아직까지 등록된 상품이 없습니다.
    else
      .posts
        each post in posts.docs
          .post
            a.title(href=`/posts/${post.id}`)= post.title
            include _post

      +paginate(posts, '/posts', query)
    hr
    a.btn.btn-primary(href='/posts/new') 상품 등록하기
